[Unit]
Description=ZARN AI Assistant
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Zarn/run_zarn.py
WorkingDirectory=/home/pi/Zarn
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
